:root {
    --icon-padding: 35px; /*Changes the padding between the icon and the text | Default 35px*/
}

/*Settings Icons*/
.icon-Zc-uZZ { /*Removes new Nitro Icon*/
    display: none;
}
.sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ { /*Category container*/
    padding-left: var(--icon-padding);
}
.sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ::before { /*Category container pseudo*/
    content: '';
    position: absolute;
    top: 12%;
    left: 3px;
    width: 24px;
    height: 24px;
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/defaultIcon.svg');
    background: currentColor;
    transition: 0.25s ease;
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="My Account-tab"]::before { 
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/myAccount.svg')!important;
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="Profile Customization-tab"]::before { 
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/userProfile.svg')!important;
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="Privacy & Safety-tab"]::before { 
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/privacy.svg')!important;
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="Authorized Apps-tab"]::before {
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/authorizedApps.svg')!important;
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="Connections-tab"]::before {
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/connections.svg')!important;
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="Discord Nitro-tab"]::before {
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/nitro.svg')!important;
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="Nitro Server Boost-tab"]::before {
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/serverBoost.svg')!important; 
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="Library Inventory-tab"]::before {
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/gift.svg')!important;
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="Billing-tab"]::before {
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/billing.svg')!important;
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="Appearance-tab"]::before { 
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/appearance.svg')!important;
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="Accessibility-tab"]::before { 
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/accessibility.svg')!important;
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="Voice & Video-tab"]::before { 
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/voiceVideo.svg')!important; 
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="Text & Images-tab"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/textImages.svg')!important; 
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="Notifications-tab"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/notifications.svg')!important; 
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="Keybinds-tab"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/keybinds.svg')!important; 
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="Language-tab"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/languages.svg')!important; 
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="Windows-tab"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/windows.svg')!important; 
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="Streamer Mode-tab"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/streaming.svg')!important; 
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="Advanced-tab"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/advanced.svg')!important; 
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="Game Activity-tab"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/gameActivity.svg')!important; 
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="Overlay-tab"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/overlay.svg')!important; 
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="Settings-tab"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/settings.svg')!important; 
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="Emotes-tab"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/emojis.svg')!important; 
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="customcss-tab"]::before {
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/customCSS.svg')!important; 
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="plugins-tab"]::before,
.side-8zPYf6 .item-PXvHYJ[aria-controls="Plugins-tab"]::before /*Goosemod*/ {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/plugins.svg')!important; 
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="themes-tab"]::before,
.side-8zPYf6 .item-PXvHYJ[aria-controls="Themes-tab"]::before /*Goosemod*/ {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/themes.svg')!important; 
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="changelog-tab"]::before,
.side-8zPYf6 .item-PXvHYJ[aria-controls="Change Log-tab"]::before /*Goosemod*/ {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/changelog.svg')!important; 
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="Hypesquad Online-tab"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/hypesquad.svg')!important; 
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="logout-tab"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/logout.svg')!important; 
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="STICKERS-tab"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/stickers.svg')!important; 
}


/*GooseMod*/

.side-8zPYf6 .item-PXvHYJ[aria-controls="Fucklytics-tab"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/fucklytics.svg')!important; 
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="Visual Tweaks-tab"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/visualTweaks.svg')!important; 
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="Custom Sounds-tab"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/customSounds.svg')!important; 
}

/*Server settings*/

.side-8zPYf6 .item-PXvHYJ[aria-controls="OVERVIEW-tab"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/appearance.svg')!important; 
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="ROLES-tab"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/roles.svg')!important; 
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="EMOJI-tab"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/emojis.svg')!important; 
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="MODERATION-tab"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/moderation.svg')!important; 
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="AUDIT_LOG-tab"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/auditlog.svg')!important; 
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="INTEGRATIONS-tab"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/integrations.svg')!important; 
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="WIDGET-tab"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/widgets.svg')!important; 
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="GUILD_TEMPLATES-tab"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/serverTemplate.svg')!important; 
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="COMMUNITY-tab"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/community.svg')!important; 
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="GUILD_PREMIUM-tab"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/serverBoost.svg')!important; 
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="MEMBERS-tab"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/members.svg')!important; 
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="INSTANT_INVITES-tab"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/invites.svg')!important; 
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="BANS-tab"]::before {
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/bans.svg')!important; 
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="DELETE-tab"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/delete.svg')!important; 
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="ANALYTICS-tab"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/serverInsight.svg')!important; 
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="PARTNER-tab"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/partnerProgram.svg')!important; 
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="DISCOVERY-tab"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/discovery.svg')!important; 
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="MEMBER_VERIFICATION-tab"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/membership.svg')!important; 
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="COMMUNITY_WELCOME-tab"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/welcomeScreen.svg')!important; 
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="PERMISSIONS-tab"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/permissions.svg')!important; 
}


/*Right click menu*/
.menu-3sdvDG:not(.submenu-2-ysNh) .scroller-3BxosC .item-1tOPte .label-22pbtT { /*Separates text and icon*/
    padding-left: 8px;
}
.menu-3sdvDG .scroller-3BxosC .item-1tOPte:not([id*="user-context-invite-to-server-"]):not([id*="user-context-roles-"]):not([id*="guild-header-popout-"]):not([id*="message-add-reaction-"]):not([id*="guild-context-"]):not([id*="channel-context-"]):not([id*="message-actions-"]):not([id*=textarea-context]):not([id*=mentions-filter-]):not([id*=manage-streams-]):not([id*=guild-settings-role-context-]):not([id*=user-context-mute-channel-]):not([id*=user-context-voice-move--]):not([id=channel-attach-upload-file])::before { /*Category subcontainer pseudo*/
    content: '';
    position: relative;
    left: 0;
    width: 24px;
    height: 24px;
    filter: brightness(0.95);
    transition: 0.25s ease;
    background: currentColor;
}
.scroller-3BxosC .colorDefault-2K3EoJ:not([id*="user-context-invite-to-server-"]):not([id*="user-context-roles-"]):not([id*="guild-header-popout-"]):not([id*="message-add-reaction-"]):not([id*="guild-context-"]):not([id*="channel-context-"]):not([id*="message-actions-"]):not([id*=textarea-context]):not([id*=mentions-filter-]):not([id*=manage-streams-]):not([id*=guild-settings-role-context-]):not([id*=user-context-mute-channel-]):not([id*=user-context-voice-move--]):not([id=channel-attach-upload-file])::before {
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/defaultIcon.svg');
}
.scroller-3BxosC .colorDefault-2K3EoJ[id="user-context-user-profile"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/myAccount.svg')!important; 
}
.scroller-3BxosC .colorDefault-2K3EoJ[id="user-context-mention"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/mention.svg')!important; 
}
.scroller-3BxosC .colorDefault-2K3EoJ[id="user-context-message-user"]::before,
.scroller-3BxosC .colorDefault-2K3EoJ[id="now-playing-menu-message"]::before,
.scroller-3BxosC .colorDefault-2K3EoJ[id="user-profile-actions-user-message"]::before {
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/message.svg')!important; 
}
.scroller-3BxosC .colorDefault-2K3EoJ[id="user-context-call"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/call.svg')!important; 
}
.scroller-3BxosC .colorDefault-2K3EoJ[id="user-context-note"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/note.svg')!important; 
}
.scroller-3BxosC .colorDefault-2K3EoJ[id="user-context-invite-to-listen"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/listenAlong.svg')!important; 
}
.scroller-3BxosC .colorDefault-2K3EoJ[id="user-context-invite-to-server"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/invites.svg')!important; 
}
.scroller-3BxosC .colorDefault-2K3EoJ[id="user-context-add-friend"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/addFriend.svg')!important; 
}
.scroller-3BxosC .colorDefault-2K3EoJ[id="user-context-block"]::before,
.scroller-3BxosC .colorDefault-2K3EoJ[id="user-profile-actions-user-block"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/block.svg')!important; 
}
.scroller-3BxosC .colorDefault-2K3EoJ[id="user-context-roles"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/roles.svg')!important; 
}
.scroller-3BxosC .colorDefault-2K3EoJ[id="user-context-change-nickname"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/editNickname.svg')!important; 
}
.scroller-3BxosC .colorDefault-2K3EoJ[id="user-context-kick"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/remove.svg')!important; 
}
.scroller-3BxosC .colorDefault-2K3EoJ[id="user-context-ban"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/bans.svg')!important; 
}
.scroller-3BxosC .colorDefault-2K3EoJ[id="message-reply"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/reply.svg')!important; 
}
.scroller-3BxosC .colorDefault-2K3EoJ[id="message-mark-unread"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/markUnread.svg')!important; 
}
.scroller-3BxosC .colorDefault-2K3EoJ[id="message-copy-link"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/discordMessageLink.svg')!important; 
}
.scroller-3BxosC .colorDefault-2K3EoJ[id="message-tts"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/tts.svg')!important; 
}
.scroller-3BxosC .colorDefault-2K3EoJ[id="user-context-remove-friend"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/remove.svg')!important; 
}
.scroller-3BxosC .colorDefault-2K3EoJ[id="message-copy-native-link"]::before,
.scroller-3BxosC .colorDefault-2K3EoJ[id="image-context-copy-native-link"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/copyLink.svg')!important; 
}
.scroller-3BxosC .colorDefault-2K3EoJ[id="message-open-native-link"]::before,
.scroller-3BxosC .colorDefault-2K3EoJ[id="image-context-open-native-link"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/openLink.svg')!important; 
}
.scroller-3BxosC .colorDefault-2K3EoJ[id="message-add-reaction"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/emojis.svg')!important; 
}
.scroller-3BxosC .colorDefault-2K3EoJ[id="message-copy"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/copy.svg')!important; 
}
.scroller-3BxosC .colorDefault-2K3EoJ[id="message-search-google"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/googleSearch.svg')!important; 
}
.scroller-3BxosC .colorDefault-2K3EoJ[id="message-pin"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/pin.svg')!important; 
}
.scroller-3BxosC .colorDefault-2K3EoJ[id="message-delete"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/delete.svg')!important; 
}
.scroller-3BxosC .colorDefault-2K3EoJ[id="message-edit"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/edit.svg')!important;
}
.scroller-3BxosC .colorDefault-2K3EoJ[id*="user-context-spotify-play-"]::before,
.scroller-3BxosC .colorDefault-2K3EoJ[id*="now-playing-menu-spotify-play-"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/playOnSpotify.svg')!important;
}
.scroller-3BxosC .colorDefault-2K3EoJ[id*="user-context-spotify-sync-"]::before,
.scroller-3BxosC .colorDefault-2K3EoJ[id*="now-playing-menu-spotify-sync-"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/listenAlong.svg')!important;
}
.scroller-3BxosC .colorDefault-2K3EoJ[id="message-copy-image"]::before,
.scroller-3BxosC .colorDefault-2K3EoJ[id="image-context-copy-image"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/copyImage.svg')!important;
}
.scroller-3BxosC .colorDefault-2K3EoJ[id="message-save-image"]::before,
.scroller-3BxosC .colorDefault-2K3EoJ[id="image-context-save-image"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/saveImage.svg')!important;
}
.scroller-3BxosC .colorDefault-2K3EoJ[id="user-context-mark-channel-read"]::before {
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/markAsRead.svg')!important;
}
.scroller-3BxosC .colorDefault-2K3EoJ[id="user-context-close-dm"]::before {
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/closeDM.svg')!important;
}
.scroller-3BxosC .colorDefault-2K3EoJ[id="message-reactions"]::before {
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/reactions.svg')!important;
}
.scroller-3BxosC .colorDefault-2K3EoJ[id="message-remove-reactions"]::before {
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/removeReactions.svg')!important;
}
.scroller-3BxosC .colorDefault-2K3EoJ[id="message-unpin"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/unpin.svg')!important;  
}
.scroller-3BxosC .colorDefault-2K3EoJ[id="message-thread"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/threads.svg')!important;  
}
.scroller-3BxosC .colorDefault-2K3EoJ[id="user-settings-account-menu-upload-avatar"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/textImages.svg')!important; 
}
.scroller-3BxosC .colorDefault-2K3EoJ[id="user-settings-account-menu-delete-avatar"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/delete.svg')!important;  
}
.scroller-3BxosC .colorDefault-2K3EoJ[id="user-context-mute-channel"]::before,
.scroller-3BxosC .colorDefault-2K3EoJ[id="user-context-mute"]::before {  
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/mute.svg')!important;  
}
.scroller-3BxosC .colorDefault-2K3EoJ[id="user-context-devmode-copy-id"]::before,
.scroller-3BxosC .colorDefault-2K3EoJ[id="message-devmode-copy-id"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/id.svg')!important;  
}
.scroller-3BxosC .colorDefault-2K3EoJ[id="user-context-disable-video"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/disableVideo.svg')!important;  
}
.scroller-3BxosC .colorDefault-2K3EoJ[id="user-context-voice-mute"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/serverMute.svg')!important;  
}
.scroller-3BxosC .colorDefault-2K3EoJ[id="user-context-deafen"]::before,
.scroller-3BxosC .colorDefault-2K3EoJ[id="user-context-voice-deafen"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/mute.svg')!important;  
}
.scroller-3BxosC .colorDefault-2K3EoJ[id="user-context-voice-disconnect"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/disconnect.svg')!important;  
}
.scroller-3BxosC .colorDefault-2K3EoJ[id="user-context-voice-move"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/moveTo.svg')!important;  
}